<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CgOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.CgOrder">
        <id column="or_id" property="orId" />
        <result column="sup_id" property="supId" />
        <result column="yh_id" property="yhId" />
        <result column="bm_id" property="bmId" />
        <result column="spyh_id" property="spyhId" />
        <result column="or_code" property="orCode" />
        <result column="or_explain" property="orExplain" />
        <result column="or_time" property="orTime" />
        <result column="or_sptime" property="orSptime" />
        <result column="or_spopinon" property="orSpopinon" />
        <result column="or_state" property="orState" />
    </resultMap>
    <select id="list" resultMap="BaseResultMap">
        select * from cg_order
    </select>

</mapper>
