<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CgOrderdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.CgOrderdetail">
        <id column="od_id" property="odId" />
        <result column="od_count" property="odCount" />
        <result column="od_price" property="odPrice" />
    </resultMap>
    <insert id="addOrderDetail" useGeneratedKeys="true" keyProperty="odId">
        insert into cg_orderdetail values(null,#{goods.goId},#{order.orId},#{odCount},#{odPrice})
    </insert>

</mapper>
