<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CgPaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.CgPayment">
        <id column="pa_id" property="paId" />
        <result column="yh_id" property="yhId" />
        <result column="ti_id" property="tiId" />
        <result column="sup_id" property="supId" />
        <result column="spyh_id" property="spyhId" />
        <result column="pa_code" property="paCode" />
        <result column="pa_account" property="paAccount" />
        <result column="pa_type" property="paType" />
        <result column="pa_way" property="paWay" />
        <result column="pa_price" property="paPrice" />
        <result column="pa_time" property="paTime" />
        <result column="pa_sptime" property="paSptime" />
        <result column="pa_spopinon" property="paSpopinon" />
        <result column="pa_state" property="paState" />
    </resultMap>

</mapper>
