<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CgStorageDetailMapper">    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.CgStorageDetail">
        <id column="sd_id" property="sdId" />
        <result column="sd_count" property="sdCount" />
        <result column="sd_price" property="sdPrice" />
    </resultMap>
    <insert id="addSdDetail" useGeneratedKeys="true" keyProperty="sdId">
        insert into cg_storagedetai values(null,#{goods.goId},#{cgStorage.stId},#{sdCount},#{sdPrice})
    </insert>


</mapper>