<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CgYinpayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.CgYinpay">
        <id column="yi_id" property="yiId" />
        <result column="yh_id" property="yhId" />
        <result column="sup_id" property="supId" />
        <result column="yi_account" property="yiAccount" />
        <result column="yi_type" property="yiType" />
        <result column="yi_way" property="yiWay" />
        <result column="yi_price" property="yiPrice" />
        <result column="yi_time" property="yiTime" />
        <result column="yi_state" property="yiState" />
    </resultMap>

</mapper>
