<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CkApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.CkApply">
        <id column="ck_id" property="ckId" />
        <result column="ck_bian" property="ckBian" />
        <result column="sales_yard" property="salesYard" />
        <result column="ck_applicationtime" property="ckApplicationtime" />
        <result column="ck_approvaltime" property="ckApprovaltime" />
        <result column="ck_type" property="ckType" />
        <result column="ck_state" property="ckState" />
        <result column="ck_explain" property="ckExplain" />
    </resultMap>
    <resultMap id="all" type="com.study.entity.CkApply" extends="BaseResultMap">
        <association property="yhShen" javaType="com.study.entity.QxUser">
            <id column="shenId" property="yhId" />
            <result column="shenName" property="yhName" />
        </association>
        <association property="yhPi" javaType="com.study.entity.QxUser">
            <id column="piId" property="yhId" />
            <result column="piName" property="yhName" />
        </association>
    </resultMap>
    <resultMap id="csDetail" type="com.study.entity.CkDetails">
        <id column="ckd_id" property="ckdId" />
        <result column="ckd_num" property="ckdNum" />
        <result column="ck_id" property="ckId" />
        <association property="goods" javaType="com.study.entity.JcGoods">
            <id column="go_id" property="goId" />
            <result column="g_name" property="gName" />
        </association>
    </resultMap>
    <insert id="addCkApply" useGeneratedKeys="true" keyProperty="ckId">
        insert into ck_apply values (null,#{ckBian},#{salesYard},#{yhShen.yhId},#{ckApplicationtime},#{yhPi.yhId},#{ckApprovaltime},#{ckType},#{ckState},#{ckExplain})
    </insert>

    <update id="update">
          UPDATE  ck_apply  set  ck_state = #{ckState},yh_pi = #{yhId},ck_approvaltime = #{time} where ck_id = #{ckId}
    </update>
    <select id="selectAll" resultMap="all">
            select  * from ckall  order  by ck_id  desc
    </select>
    <select id="selectById" resultMap="csDetail">
        select ckd_id, g_id, ckd_num, ck_id , g_name from  ck_details  d
                   left  join  jc_goods  g on
        d.g_id = g.go_id where ck_id  =#{ckId}
    </select>

</mapper>
