<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.DpAllocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.DpAllocation">
        <id column="dp_id" property="dpId" />
        <result column="dp_bian" property="dpBian" />
        <result column="wh_out" property="whOut" />
        <result column="wh_in" property="whIn" />
        <result column="g_id" property="gId" />
        <result column="dp_num" property="dpNum" />
        <result column="yh_shen" property="yhShen" />
        <result column="pd_applicationtime" property="pdApplicationtime" />
        <result column="yh_pi" property="yhPi" />
        <result column="dp_approvaltime" property="dpApprovaltime" />
        <result column="dp_state" property="dpState" />
    </resultMap>

</mapper>
