<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.JcCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.JcCustomer">
        <id column="kh_id" property="khId" />
        <result column="cp_id" property="cpId" />
        <result column="kh_name" property="khName" />
        <result column="kh_tel" property="khTel" />
        <result column="kh_address" property="khAddress" />
        <result column="kh_bian" property="khBian" />
        <result column="kh_city" property="khCity" />
    </resultMap>

</mapper>
