<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.JcGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.JcGoods">
        <id column="go_id" property="goId" />
        <result column="gf_id" property="gfId" />
        <result column="g_name" property="gName" />
        <result column="g_price" property="gPrice" />
        <result column="g_unit" property="gUnit" />
        <result column="g_bian" property="gBian" />
        <result column="g_status" property="gStatus" />
    </resultMap>

        <select id="selectById" resultMap="BaseResultMap" parameterType="com.study.entity.JcGoods">
            select go_id, gf_id, g_name, g_price, g_unit, g_bian from where go_id = #{goId}
        </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from jc_goods where g_status=0 order by go_id
    </select>

</mapper>
