<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.KcStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.KcStock">
        <id column="kc_id" property="kcId" />
        <result column="kc_bian" property="kcBian" />
        <result column="wh_id" property="whId" />
        <result column="kc_type" property="kcType" />
        <result column="g_id" property="gId" />
        <result column="kc_num" property="kcNum" />
    </resultMap>

</mapper>
