<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.QxJsdnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.QxJsdn">
        <id column="jsdn_id" property="jsdnId" />
        <result column="jsdn_name" property="jsdnName" />
        <result column="jsdn_zname" property="jsdnZname" />
        <result column="jsdn_path" property="jsdnPath" />
        <result column="jsdn_tpath" property="jsdnTpath" />
        <result column="jsdn_zt" property="jsdnZt" />
        <result column="jsdn_zid" property="jsdnZid" />
        <association property="pos" javaType="com.study.entity.QxPost">
            <id column="pos_id" property="posId" />
            <result column="pos_name" property="posName" />
            <result column="bm_id" property="bmId" />
            <association property="bm" javaType="com.study.entity.QxDepartment">
                <id column="bm_id"  property="bmId" />
                <result column="bm_name"   property="bmName" />
            </association>
        </association>
        <association property="yh" javaType="com.study.entity.QxUser">
            <id column="yh_id" property="yhId" />
            <result column="yh_card" property="yhCard" />
            <result column="yh_name" property="yhName" />
            <result column="yh_pswd" property="yhPswd" />
            <result column="yh_phone" property="yhPhone" />
            <result column="pos_id" property="posId" />
            <result column="yh_state" property="yhState" />
        </association>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.study.entity.QxJsdn">
        <id column="aid" property="jsdnId" />
        <result column="aname" property="jsdnName" />
        <result column="azname" property="jsdnZname" />
        <result column="aath" property="jsdnPath" />
        <result column="atpath" property="jsdnTpath" />
        <result column="azt" property="jsdnZt" />
        <result column="azid" property="jsdnZid" />
        <collection property="list" ofType="com.study.entity.QxJsdn" resultMap="BaseResultMap1">
        </collection>
    </resultMap>
    <resultMap id="BaseResultMap1" type="com.study.entity.QxJsdn">
        <id column="jsdn_id" property="jsdnId" />
        <result column="jsdn_name" property="jsdnName" />
        <result column="jsdn_zname" property="jsdnZname" />
        <result column="jsdn_path" property="jsdnPath" />
        <result column="jsdn_tpath" property="jsdnTpath" />
        <result column="jsdn_zt" property="jsdnZt" />
        <result column="jsdn_zid" property="jsdnZid" />

    </resultMap>
<!--    角色授权查询-->
    <select id="sqcx" resultMap="BaseResultMap">
        select f.jsdn_id from qx_jsdn f
           inner join qx_middle_post rf on f.jsdn_id = rf.jsdn_id
        where rf.pos_id =#{posId} and f.jsdn_zid is not null
    </select>
    <!--    所有授权查询-->
    <select id="sycx" resultMap="BaseResultMap2">
        select  p.jsdn_id aid,p.jsdn_name aname,p.jsdn_zname azname,p.jsdn_path apath,p.jsdn_tpath atpath,p.jsdn_zt azt,p.jsdn_zid azid,a.* from qx_jsdn p
        inner join qx_jsdn a on a.jsdn_zid=p.jsdn_id where p.jsdn_zid is null
    </select>
<!--    登录权限查询-->
    <select id="dlqx" resultMap="BaseResultMap2">
        select  p.jsdn_id aid,p.jsdn_name aname,p.jsdn_zname azname,p.jsdn_path apath,p.jsdn_tpath atpath,p.jsdn_zt azt,p.jsdn_zid azid,a.* from qx_jsdn p
           inner join qx_jsdn a on a.jsdn_zid=p.jsdn_id
           inner join qx_middle_post f on f.jsdn_id = a.jsdn_id
            inner join qx_post rf on f.pos_id = rf.pos_id
           inner join qx_user ur on rf.pos_id = ur.pos_id
        where ur.yh_id =#{yhId}
    </select>
</mapper>
