<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.QxUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.QxUser">
        <id column="yh_id" property="yhId" />
        <result column="yh_card" property="yhCard" />
        <result column="yh_name" property="yhName" />
        <result column="yh_pswd" property="yhPswd" />
        <result column="yh_phone" property="yhPhone" />
        <result column="pos_id" property="posId" />
        <result column="yh_state" property="yhState" />
        <association property="ybm" javaType="com.study.entity.QxPost">
            <id column="pos_id"  property="posId" />
            <result column="pos_name"   property="posName" />
            <result column="bm_id"   property="bmId" />
            <association property="bm" javaType="com.study.entity.QxDepartment">
                <id column="bm_id"  property="bmId" />
                <result column="bm_name"   property="bmName" />
            </association>
        </association>
    </resultMap>


    <!--新增用户-->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="yhId">
        insert into qx_user values(null,#{yhCard},#{yhName},#{yhPswd},#{yhPhone},#{posId},#{yhState})
    </insert>
    <!-- 修改用户-->
    <update id="updateUser">
        update qx_user set yh_card=#{yhCard},yh_name=#{yhName},pos_id=#{posId},yh_pswd=#{yhPswd},yh_phone=#{yhPhone},yh_state=#{yhState} where yh_id=#{yhId}
    </update>
    <select id="selectUser" resultMap="BaseResultMap">
        select * from qx_user a inner join qx_post b on a.pos_id=b.pos_id
        inner join qx_department c on b.bm_id=c.bm_id
        <where>
            <if test ="seach !=null and '' !=seach"> /*部门名字*/
                 a.yh_name like'%${yhName}%'
            </if>
            <if test ="seach !=null and '' !=seach"> /*部门名字*/
                or a.yh_phone like'%${yhPhone}%'
            </if>
            <if test ="seach !=null and '' !=seach"> /*部门名字*/
                or a.yh_card like'%${yhCard}%'
            </if>
        </where>
        order by yh_id desc
    </select>
    <select id="selectCgZg" resultMap="BaseResultMap">
        select * from qx_user q
                          left join qx_post qp on q.pos_id = qp.pos_id
        where qp.pos_name like concat('%','采购主管','%')
    </select>
</mapper>
