<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.RkApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.RkApply">
        <id column="rk_id" property="rkId" />
        <result column="rk_bian" property="rkBian" />
        <result column="st_code" property="stCode" />
        <result column="yh_shen" property="yhShen" />
        <result column="rk_applicationtime" property="rkApplicationtime" />
        <result column="yh_pi" property="yhPi" />
        <result column="rk_approvaltime" property="rkApprovaltime" />
        <result column="rk_type" property="rkType" />
        <result column="rk_state" property="rkState" />
        <result column="rk_explain" property="rkExplain" />
    </resultMap>
    <select id="selectBystCode" resultType="com.study.entity.CgStorage">

    </select>

</mapper>
