<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.RkDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.RkDetails">
        <id column="rkd_id" property="rkdId" />
        <result column="rkd_num" property="rkdNum" />
        <result column="rk_id" property="rkId" />
    </resultMap>

</mapper>
