<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.XsOrderdetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.XsOrderdetails">
        <id column="details_id" property="detailsId" />
        <result column="sales_id" property="salesId" />
        <result column="order_id" property="orderId" />
        <result column="details_num" property="detailsNum" />
    </resultMap>

</mapper>
