<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.XsProceedsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.XsProceeds">
        <id column="proceeds_id" property="proceedsId" />
        <result column="yh_id" property="yhId" />
        <result column="kh_id" property="khId" />
        <result column="sales_id" property="salesId" />
        <result column="qx__yh_id" property="qxYhId" />
        <result column="proceeds_yard" property="proceedsYard" />
        <result column="proceeds_way" property="proceedsWay" />
        <result column="proceeds_account" property="proceedsAccount" />
        <result column="proceeds_time" property="proceedsTime" />
        <result column="proceeds_times" property="proceedsTimes" />
        <result column="proceeds_state" property="proceedsState" />
    </resultMap>

</mapper>
