<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.XsSalesticketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.XsSalesticket">
        <id column="sales_id" property="salesId" />
        <result column="yh_id" property="yhId" />
        <result column="proceeds_id" property="proceedsId" />
        <result column="wh_id" property="whId" />
        <result column="kh_id" property="khId" />
        <result column="return_id" property="returnId" />
        <result column="qx__yh_id" property="qxYhId" />
        <result column="bill_id" property="billId" />
        <result column="sales_yard" property="salesYard" />
        <result column="sales_account" property="salesAccount" />
        <result column="sales_way" property="salesWay" />
        <result column="sales_time" property="salesTime" />
        <result column="sales_times" property="salesTimes" />
        <result column="sales_state" property="salesState" />
        <result column="goods_type" property="goodsType" />
        <result column="order_id" property="orderId" />
        <result column="details_id" property="detailsId" />
    </resultMap>
<!--    新增销售单-->
    <insert id="addSales" useGeneratedKeys="true" keyProperty="sales_id">
        insert into xs_salesticket values (null,#{yhId},#{proceedsId},#{whId},#{khId},#{returnId},#{qxYhId},#{billId},
            #{salesYard},#{salesAccount},#{salesWay},#{salesTime},#{salesTimes},#{salesState},#{goodsType},#{orderId},#{detailsId})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.study.entity.XsSalesticket">
        select sales_id, yh_id, proceeds_id, wh_id, kh_id, return_id, qx__yh_id, bill_id,
               sales_yard, sales_account, sales_way, sales_time, sales_times, sales_state,
               goods_type, order_id, details_id
        from xs_salesticket
        order by sales_id desc
    </select>
</mapper>
