<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.XsSalesorderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.XsSalesorder">
        <id column="order_id" property="orderId" />
        <result column="yh_id" property="yhId" />
        <result column="sales_id" property="salesId" />
        <result column="kh_id" property="khId" />
        <result column="qx__yh_id" property="qxYhId" />
        <result column="order_yard" property="orderYard" />
        <result column="order_name" property="orderName" />
        <result column="goods_time" property="goodsTime" />
        <result column="order_site" property="orderSite" />
        <result column="order_goods" property="orderGoods" />
        <result column="order_linkman" property="orderLinkman" />
        <result column="order_phone" property="orderPhone" />
        <result column="order_money" property="orderMoney" />
        <result column="order_time" property="orderTime" />
        <result column="order_times" property="orderTimes" />
        <result column="order_state" property="orderState" />
    </resultMap>

</mapper>
