<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.XsSalesreturnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.XsSalesreturn">
        <id column="return_id" property="returnId" />
        <result column="bill_id" property="billId" />
        <result column="yh_id" property="yhId" />
        <result column="qx__yh_id" property="qxYhId" />
        <result column="kh_id" property="khId" />
        <result column="wh_id" property="whId" />
        <result column="sales_id" property="salesId" />
        <result column="return_type" property="returnType" />
        <result column="return_account" property="returnAccount" />
        <result column="return_money" property="returnMoney" />
        <result column="return_cause" property="returnCause" />
        <result column="return_time" property="returnTime" />
        <result column="return_times" property="returnTimes" />
    </resultMap>

</mapper>
