<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ZcClaimMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.ZcClaim">
        <id column="zc_id" property="zcId" />
        <result column="zc_applicationtime" property="zcApplicationtime" />
        <result column="zc_text" property="zcText" />
        <result column="zc_approvaltime" property="zcApprovaltime" />
        <result column="zc_state" property="zcState" />
        <result column="zc_bian" property="zcBian" />
        <result column="zc_explain" property="zcExplain" />
    </resultMap>
    <resultMap id="All" type="com.study.entity.ZcClaim" extends="BaseResultMap">
        <association property="bm" javaType="com.study.entity.QxDepartment">
            <id column="bm_id" property="bmId"/>
            <result property="bmName" column="bm_name"  ></result>
        </association>
        <association property="shen" javaType="com.study.entity.QxUser">
            <id property="yhId" column="sq" ></id>
            <result column="sqname" property="yhName"></result>
        </association>
        <association property="yh" javaType="com.study.entity.QxUser">
            <id property="yhId" column="ly" ></id>
            <result column="lyname" property="yhName"></result>
        </association>
        <association property="wh" javaType="com.study.entity.JcWhinformation">
            <id property="whId" column="wh_id"></id>
            <result property="whName" column="wh_name"></result>
        </association>
    </resultMap>
    <resultMap id="selectById" type="com.study.entity.ZcClaim" extends="BaseResultMap">

    </resultMap>
    <update id="update">
       UPDATE  zc_claim  set  zc_state = #{zcState} where zc_id = #{zcId}
    </update>
    <select id="selectAll"  resultMap="All">
        select *  from  lyall
    </select>
    <select id="selectById" resultMap="selectById">

    </select>


</mapper>
